# Node dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store

# Exclude the db.js file
src/models/db.js

# Optional: OS-specific files (Windows, Mac)
Thumbs.db