<div class="footer">
    <h3>The system is designed and developed by GROUP 6</h3>
    <p>Get app HUSTHUB on mobile</p>
    <a href="#"><img src="/img/google-play.png" alt="Get it on Google Play"></a>
    <a href="#"><img src="/img/app-store.png" alt="Download on the App Store"></a>
</div>