<div class="header">
    <a href="/" class="left-section">
        <div class="logo">
            <img src="/img/logo.png" alt="HUSTHUB Logo" />
        </div>
        <div class="title-container">
            <h1 class="title">HUSTHUB</h1>
            <h2 class="subtitle">School Management System</h2>
        </div>
    </a>
    <div class="right-section">
        <form action="/logout" method="POST">
            <button type="submit" class = "login-btn">Log out</button>
        </form>
    </div>
    
</div>